<mat-card>
  <img src="https://placeimg.com/150/150/any" alt="tournament image" class="tournament-image">

  <div class="main-data">
    <h1>{{ tournamentName }}</h1>
    <br>
    <h4>Starting on: <span class="text-warn">{{ parsedStartDate }}</span></h4>
    <h4>Registration ends in: <span class="text-error">{{ parsedRegistrationStartDate }}</span></h4>
  </div>
  <a [routerLink]="null" class="action-more"> <svg  xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg></a>
</mat-card>
