<app-min-nav></app-min-nav>
<main>
  <img [src]="tournamentData?.banner" alt="Tournament banner" class="tournament-banner">

  <div class="tournament-name">
    <h1>{{tournamentData?.name}}</h1>
    <h3>starts in {{tournamentData?.start_time.toLocaleString()}}</h3>
  </div>


  <div class="tournament-data">
    <div class="left-column">
      <img [src]="tournamentData?.icon" alt="Tournament icon">
      <button (click)="ngOnInit()" mat-flat-button color="primary" class="results-button"> Results</button>
    </div>

    <div class="center-column">
        <editor [initialValue]="tournamentData?.description" disabled="true" inline="true"></editor>
        <button mat-raised-button class="register-button"> Register</button>
    </div>

    <div class="right-column">
      <h2> Time </h2>
      <h3>starts on the {{tournamentData?.start_time.toLocaleDateString()}}</h3>
      <h3>ends on the {{tournamentData?.end_time.toLocaleDateString()}}</h3>
      <br>
      <h2> Location </h2>
      <div class="map"></div>

        <img class="static-map" src="{{mapLink}}" alt="map">


    </div>

  </div>
</main>
