@import "src/global_variables.scss";


main {
  display: flex;
  flex-direction: row;
  margin-left: max(3vw, 100px);;
}

app-profile-nav {
  position: fixed;
  left: 0;
}

.profile-page {
  width: 100%;
}



